$white:		#ffffff;
$black:		#000000;
$orange:	#ff9100;
$darkGrey:	#656565;
$grey:		#9e9e9e;



$activeElem:	$orange;
$fontColor:		$darkGrey;
$aboutFont:		$white;
$footerText:	$black;
$bgFooter:		$darkGrey;

